body{
    margin:0;
    padding:0;
}

.Header{
    margin:10px;
    padding:10px;
}

a{
    margin:10px 10px 10px 0px;
}

.dropdown_box{
    padding:10px;
}

.selected{
    background-color: whitesmoke;
}

.dropdown{
    border:1px solid black;
    border-radius:4px;
    width:500px;
}